{
  "GOOGLE_OAUTH_CLIENT_ID": "reemplazar-con-el-client-id-del-cliente-OAuth-tipo-Desktop-app",
  "GOOGLE_OAUTH_CLIENT_SECRET": "reemplazar-con-el-client-secret-del-cliente-OAuth-tipo-Desktop-app",
  "GOOGLE_OAUTH_ANDROID_SERVER_CLIENT_ID": "reemplazar-con-el-client-id-del-cliente-OAuth-tipo-Aplicacion-web"
}
